<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('head_index_tienda') -%>
    <title>Tienda</title>
</head>
<body class="page">
    <%- include('header') -%>
    <h1>Ha ocurrido un error, vuelve a intentarlo</h1>
    <%- include('footer') -%>
    <script src="./JS/producto.js"></script>
    <script src="./JS/productoFunc.js"></script>
    <script src="./JS/buscador.js"></script>
    <script src="./JS/suscripcion.js"></script>
</body>
</html>