<footer>
    <form action="javascript:void(0);" class="subscripcion">
        <H2 class="titulo-suscripcion">Subscribirse</H2>
        <input type="text" name="" id="nombreSuscripcion" placeholder="Nombre" class="nombre-suscripcion">
        <input type="text" name="" id="emailSuscripcion" placeholder="E-mail" class="email-suscripcion">
        <button type="submit" class="custom-btn btn-3" id="btnSuscribir"><span>Recibir Ofertas</span></button>
    </form>
    <div class="direccion-footer">
        <p>Nos puedes encontrar en nuestras dos sucursales:</p>
        <ul>
            <li>Dirección: Juan Paullier 2378 entre Amézaga y Domingo Aramburú - Mapa: <button class="custom-btn btn-16" onclick="location.href='/sucursal1'"><i class="fas fa-map-marked-alt"></i></button></li>
            <li>Dirección: Demóstenes 3532 - Mapa: <button class="custom-btn btn-16" onclick="location.href='/sucursal2'"><i class="fas fa-map-marked-alt"></i></button></li>
        </ul>
    </div>
</footer>