<header>
    <div onclick="location.href='/'">
        <img src="./Recursos/LOGO.png" alt="Logo" class="logo">
    </div>
    <nav>
        <ul class="ul-nav">
            <li><a href=""><i class="fas fa-align-justify"></i> <span id="nombreNav">Productos</span></a>
                <ul>
                    <li><a href="">PC Escritorio</a></li>
                    <li><a href="">Notebooks</a></li>
                    <li><a href="">Componentes</a></li>
                    <li><a href="">Consolas <i class="fas fa-angle-right"></i></a>
                        <ul>
                            <li><a href="">Play Station</a></li>
                            <li><a href="">XBOX</a></li>
                            <li><a href="">Nintendo</a></li>
                            <li><a href="">Retro</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="estilo-busqueda busqueda">
        <input type="search" placeholder="Buscar..." id="buscador">
        <span id="btnBuscador"><i class="fas fa-search"></i></span>
    </div>
    <div class="contacto">
        <p class="contacto-p">Contacto</p>
        <i class="fab fa-whatsapp wpp-icon-grid"></i><p class="wpp-p-grid">094850906</p>
    </div>
    <button onclick="location.href='/carrito'"><div class="carrito"><p class="precio">0,00</p><i class="fas fa-shopping-cart cart icono"></i></div></button>
</header>